@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HackNerdFontMono-Bold.ttf') format('truetype');
}

:root {
    --bg-color: #ffffff; 			/* Màu cho chế độ sáng */
    --primary-font-color: #000; 	/* Thêm biến màu chữ */
	--header-title-color: #505050; 	/* Màu cho tên blog Khanh Phan ở header */
	--site-title-color: rgb(113, 113, 113);
	--sidebar-active-color: #1d1d1d;
	--site-subtitle-color: #717171;
	--line-sidebar-color: #CCCCCC;
	--header-menu-tag: #676464;
	--header-menu-tag-active: #000000;
	--font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	--content-body-color: #F9FAFB;
}

[data-theme="dark"] {
    --bg-color: #1b1b1e;
    --primary-font-color: #bfbfbf; /* Màu chữ cho chế độ tối */
	--header-title-color: #80FFEA;
	--site-title-color: #717070;
	--sidebar-active-color: rgb(255, 255, 255, 0.95);
	--site-subtitle-color: #868686;
	--line-sidebar-color: #575757;
	--header-menu-tag: #FFFFFF;
	--header-menu-tag-active: #FFFFFF;
	--font-header: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	--content-body-color: #1b1b1e;
}

body {
	font-family: 'Hack', monospace;
	font-size: 18px;
	color: var(--primary-font-color);
	background-color: var(--bg-color); /* Sử dụng biến màu nền */
	line-height: 1.75rem;
}

@media (max-width: 30em) {
	body {
		font-size: 14px;
		line-height: 1.5rem;
	}
	body h1 {
		font-size: 1.5rem;
	}
}
h1 {
	font-size: 2rem;
}
h1 a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Hack', monospace;
	color: #333;
}
a {
	text-decoration: underline;
	color: #333;
}
a:hover {
	color: black;
	border-bottom: none;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
blockquote {
	margin: 10px 20px 10px;
	padding: 0px 15px;
	border-left: 0.25em solid #ccc;
	color: #999;
	line-height: 1.5;
}
hr {
	border-top: 1px solid #ccc;
}
table {
	border-collapse: collapse;
	margin-bottom: 30px;
	width: 100%;
}
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 15px;
	text-align: left;
}
